#content
{
	height:80%;
	text-align:center;
}

#textbox
{
	margin: 5px;
	*display: inline;
    -moz-border-radius: 15px;
	border-radius: 15px;
	background-color:#A4A4A4;
	border-style:solid;
	border-color:#424242;
	font-family:"Trebuchet MS";
	margin: 40px;
}
#even
{
	background-color: #A9BCF5;
}
header
{ 
	display:block;
	text-align:center;
}

header h1
{
	color: #CC0000;
    font-size: 30px;
    font-weight: bold;
}

footer
{
	display:block;
	background-color: #012545;
    color: white;
    font-family: Arial,Sans-serif;
    font-size: 11px;
}
p
{
	font-family:arial;
	color:black;
	font-size:15x;
}

marquee
{
	font-family:arial;
	color:black;
	font-size:15x;
}
#highlight
{
	margin: 5px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color:#2E9AFE;
	color: #0B0B61;
    font-size: 20px;
    border-color: #0B0B61;
    border-style: solid;
    padding: 10px;
}
#mainBody
{
	width: 1200px;
	height: 1200px;
	display: inline-block;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #BDBDBD;
}
#ListBody
{
	width: 1200px;
	display: inline-block;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #BDBDBD;
}
#mainBar
{
	height: 20px;
	background-color: #81BEF7;
	font-family: Arial,Sans-serif;
	font-size:15x;
	color: white;
	text-align: left;
}
#mainBar a
{
	text-decoration: none;
	font-size: 15px;
	color: white;
	font-family: Arial,Sans-serif;
}
#welcome
{
	float: left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	text-align: left;
	width: 290px;
	padding: 10px;
	display: inline-block;
	background-color: #CED8F6;

}
#welcome ul li a
{
	text-decoration: none;
}
#flag
{
	float: left;
	width: 320px;
	background-color: #CED8F6;
	padding: 5px;
	display: inline-block;
}
#flag img
{
	width: 90%;
	height: 80%;
}
#mapView
{
	width: 840px;
	height: 500px;
	background-color: #CED8F6;
	display: inline-block;
}
#map
{
	padding: 10px;
	width: 600px;
	height: 450px;
	display: inline-block;	
}
#countryMap
{
	padding: 10px;
	width: 600px;
	height: 450px;
	display: inline-block;
	float: right;
}
#tree
{
	width: 20%;
	float: left;
	height: 450px;
	text-align: left;
	display: inline-block;
}
#title
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #070719;
}
#clear
{
	clear: both;
}
#left
{
	float: left;
	width: 20%;
	height: 100%;
	text-align: left;
}
#right
{
	float: right;
	width: 80%;
	height: 100%;
	text-align: left;
}
#right ul
{
	display: block;
	margin: 1px;
}
#info
{
	clear: both;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #070719;
	padding: 10px;
	width: 100%;
}
#topic
{
	background-color: #CED8F6;
	display: inline-block;
	margin: 10px;
	display: block;
	text-align: left;
	
}
#topic a
{
	text-decoration: none;
	color: #070719;
}
#box-table-a {
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    margin: 20px;
    text-align: left;
    width: 480px;
}
#box-table-a th {
    background: none repeat scroll 0 0 #B9C9FE;
    border-bottom: 1px solid #FFFFFF;
    border-top: 4px solid #AABCFE;
    color: #003399;
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
}

#box-table-a tr:hover td {
    background: none repeat scroll 0 0 #D0DAFD;
    color: #333399;
}

#box-table-a td {
    background: none repeat scroll 0 0 #E8EDFF;
    border-bottom: 1px solid #666699;
    border-top: 1px solid rgba(0, 0, 0, 0);
    color: #666699;
    padding: 8px;
}
#box-table-b {
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 20px;
    margin: 20px;
    text-align: left;
    width: 480px;
}
#box-table-b th {
    background: none repeat scroll 0 0 #B9C9FE;
    color: #003399;
    font-size: 30px;
    font-weight: normal;
    padding: 8px;
}

#box-table-b tr:hover td {
    background: none repeat scroll 0 0 #D0DAFD;
    color: #333399;
}

#box-table-b td {
    background: none repeat scroll 0 0 #E8EDFF;
    color: #666699;
    padding: 8px;
    border-radius: 15px;
    -moz-border-radius: 15px;
}
#box-table-b tr td a {
	text-decoration: none;
}
#countries {
	list-style: none;
}
nav
{
	z-index: 200;
	position: relative;
}
nav ul ul
{
	display: none;
}
nav ul li:hover > ul 
{
	display: block;
}
nav ul
{
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
nav ul:after
{
	content: ""; clear: both; display: block;
}
nav ul li
{
	float: left;
}
nav ul li:hover
{
	background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}
nav ul li:hover a
{
	color: #fff;
}
nav ul li a
{
	display: block; padding: 25px 40px;
	color: #757575; text-decoration: none;
}
nav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
nav ul ul li
{
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}
nav ul ul li a
{
	padding: 15px 40px;
	color: #fff;
}	
nav ul ul li a:hover
{
	background: #4b545f;
}
nav ul ul ul
{
	position: absolute; left: 100%; top:0;
}